#root
  margin: 0 auto
  color: #CC0000
  font-family: 'Source Code Pro', monospace
  font-size: 1.2em
  line-height: 1.3em

  h1
    font-family: Kongtext
    margin: 0
    margin-right: 32px

.App
  display: flex
  flex-direction: column
  width: 540px
  @media screen and (min-width: 1921px)
    transform: scale(1.6)
  @media screen and (min-width: 3800px)
    transform: scale(2.2)

.tittel
  display: flex
  align-items: flex-end

.banner
  background: #CC0000
  margin-top: .5em
  height: .5em

.igjen
  color: yellow

.navnedag
  color: #79F3F9

.helligdag
  color: #CC0000

.historie
  margin: .5em 0
  display: flex
  align-items: flex-start
  span
    color: #79F3F9
    width: 6ch
  p
    color: white
    margin: 0
    width: 100%

.sitat
  margin-top: .5em
  p
    color: yellow
    margin: 0
  span
    color: white
    float: right
